/* 
.container{
	border: 1px solid black;
	width: 50%;
	padding-bottom: 20px;
	padding-top: 20px;
	position: absolute;
	top: 10%;
	right: 25%;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
} */


.header{
	text-align: center;
	background-color: #e3e8e8;
	color: black;
	height: 50px;
	margin: 0px;
}

.header_button{
	border: none;
	background: none;
	height: 100%;
	font-weight: 700;
	color: #db0b0b;
	letter-spacing: 1px;
	text-transform: uppercase;
	outline: none;
	transition: all 0.3s;
	font-size: inherit;
	padding-right: 10px;
	padding-left: 10px;
}

.header_button:hover{
	color: white;
	background: #104fad;
}

.h3{
	height: 100%;
}

.input_body{
	width: 60%;
}

.output_body{
	width: 25%;
}

.input_body, .output_body{
	display: inline-block;
  	vertical-align: middle;
}
