

.block{
	width: 500px;
	height: 500px;
	margin-left: 40px;
	
	border: 2px solid green;
}

.block_one, .block_two{
	display: inline-block;
    vertical-align: middle;
    border: 1px solid pink;

}
.block_one{
	width: 55%;
}
.block_two{
	width: 40%;
}
